<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        {% block title %}
        	
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
</head>
<body>
    {% block content %}
    	
    {% endblock %}
    
    {% include 'public_panel/components/home.html' %}
    {% include 'public_panel/components/about.html' %}
    {% include 'public_panel/components/education.html' %}
    {% include 'public_panel/components/portfolio.html' %}
    {% include 'public_panel/components/contact.html' %}
</body>
</html>