<!-- education section start  -->

<section class="education section" id="education">

    <h1 class="heading"> my <span>education</span> </h1>

    <div class="box-container">

        <div class="box">
            <i class="fas fa-graduation-cap"></i>
            <span>2022-Now</span>
            <h3>FBTUIT</h3>
            <p>
                I am currently pursuing a degree in Information Security 
                at the Fergana branch of Tashkent University of Information 
                Technologies. My studies provide me with a deep understanding
                of cybersecurity, network architecture, and information 
                protection. I am committed to applying my academic knowledge 
                in practical settings and aspire to contribute to the IT 
                industry by driving innovations and enhancing security measures 
                in the field of information security.
            </p>
        </div>
        <?php endforeach; ?>

    </div>

</section>

<!-- education section end -->